@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    border-radius: 50%;
    margin-right: 10px;
}

.logo h5{
    font-size: 3.4em;
    text-transform: uppercase;
    color: rgb(222, 163, 131);
    font-family: "Cute Font", sans-serif;
    font-weight: 800;
}

nav li {
    display: inline-block;
}

nav a{
    text-decoration: none;
}

.nav-link {
    padding: 20px;
    text-decoration: none;
    color: rgb(136, 116, 91);
    font-size: 1.5em;
}

.nav-link:hover,.nav-link:focus {
    background-color: whitesmoke;
}

.menu-line {
    height: 3px;
    width: 20px;
    background-color: black;
    margin-bottom: 3px;
}

.menu {
    cursor: pointer;
    display: none;
}

#intro {
    /* https://images.pexels.com/photos/1228517/pexels-photo-1228517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
    background: url('pexels-jessbaileydesign-1228517.jpg');
    color: rgb(26, 122, 122);
    height: 500px;
    background-size: cover;
}

#intro>div{
    max-height: 500px;
    padding: 15% 10% 10em 50%;
    text-align: center;
}

#intro>div h1{
    font-size: 5em;
    text-transform: uppercase;
    font-family: "Cute Font", sans-serif;
}

#intro>div p {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
}

section {
    height: 500px;
    width: 100%;
    box-sizing: border-box;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 25em;
    width: 25em;
    object-fit: cover;
    border-radius: 5px;
    align-self: center;
    margin: 0 auto;
}

.sec-elements {
    font-size: 1.5em;
    width: 40%;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    border: 2px solid black;
    margin: 30px;
    padding: 15px;
    font-size: 0.8em;
    border-radius: 5px;
}

.btn:hover, .btn:focus {
    background-color: #f7f7f0;
    color: rgb(19, 95, 95);
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: rgb(245, 245, 244);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
}

.container h4 {
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #404040;
    margin-bottom: 1em;
}

.container p {
    color: #808080;
    font-size: 0.9em;
}

.group {
    margin-bottom: 20px;
    max-width: 370px;
}

#form {
    margin-top: 1.5em;
    width: 100%; 
}

input {
    height: 40px;
    width: 30%;
    border: none;
}

input[type="email"] {
    padding-left: 5%;
    width: 70%;
}

input[type="submit"] {
    text-transform: uppercase;
    background-color: #5e5d5d;
    color: whitesmoke;
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 1px;
}

hr {
    margin: 0 5%;
    border: 0.5px solid #e3e1e1;
}

.social-icons {
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .foot {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 785px) {
    nav {
        flex-direction: column;
    }

    nav li {
        display: block;
        padding: 10px 0;
    }

    .nav-link:hover, .nav-link:focus {
        color: #dacb9b;
        background-color: transparent;
    }

    ul {
        text-align: center;
        display: none;
    }

    .logo {
        align-self: flex-start;
        margin: 10px 0 0 30px;
    }

    .menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 25px;
    }

    .show-menu{
        display: block;
    }

    #intro {
        height: 350px;
    }
    
    #intro>div h1 {
        font-size: 4em;
    }

    #intro>div p {
        font-size: 1.4em;
    }
    
    #video {
        width: 414px;
        height:254px;
    }
    
    .image {
        height: 15em;
        width: 15em;
    }
    
    section {
        height: 300px;
    }
    
    .btn {
        font-size: 0.7em;
    }
    .sec-elements {
        font-size: 1.3em;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #nav-bar {
        margin: -10px 0 0 -20px;
        right: 0;
    }

    .logo img {
        width: 30px;
    }

    .logo h5 {
        font-size: 3em;
    }
    
    #intro {
        height: 350px;
        padding-top: 20%;
    }
    
    #intro>div h1 {
        font-size: 2.5em;
        line-height: 25px;
        padding-bottom: 25px;
    }

    #intro>div p {
        font-size: 1em;
    }

    #video {
        width: 290px;
        height: 200px;
    }

    .video {
        height: 250px;
    }

    .image {
        width: 12em;
        height: 12em;
        order: -1;
    }

    section {
        height: 500px;
    }

    .container {
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sec-elements {
        width: 100%;
        margin: 0;
    }
}